    h1{
        color: rgb(206, 212, 24); 
        font-family: sans-serif; 
        font-size: 50px;
    }
    p{
        color: rgb(25, 234, 164);
        font-family: sans-serif;
        font-size: 28px;
        }